a.button {
  background: white;
  color: $primary;
  border: 2px solid $highlight;
  border-radius: 500px;
  font-size: 18px;
  text-decoration: none;
  padding: 10px 20px;

  &:hover {
    background-color: $highlight;
    border-color: $secondary;
    color: $light;
  }
}
