.features {
  color: $secondary;
  display: flex;
  justify-content: space-between;
  padding: 4.25rem 0;
}

.features__copy {
  padding: 0 1.5rem;
  width: 50%;
}

.features__title {
  @include heading-medium;
}
