[class*="__item"] {
  list-style: none;
}

.list--feature {
  margin: 0 0 1.5rem 0;
  padding: 0;
}

.list--feature__item {
  @include heading-small;
  background-position: 0 50%;
  padding: 1.25rem 0 1.25rem 5rem;
  margin-bottom: 0.5rem;
}

.list--steps {
  display: flex;
  justify-content: space-between;
  counter-reset: li;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.list--steps__item {
  position: relative;
  text-align: center;
  width: 30%;

  &:before {
    @include heading-small;
    color: $highlight;
    display: block;
    margin: 0 0 1rem 0;
    content: counter(li);
    counter-increment: li;
  }
}

.list--stats {
  display: flex;
  justify-content: space-between;
  padding: 6.5rem 0;
  width: 90%;
  margin: 0 auto;
}

.list--stats__item {
  text-align: center;
  background-position-x: center;
  padding-top: 7rem;
  width: 20%
}

.list--news {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
  margin: 0 auto;
  text-align: left;
}

.list--news__item {
  flex: auto;
  margin: 0 1rem;
}
