.news {
  color: $dark;
  background: $light;
  text-align: center;

  img {
    height: auto;
    width: 100%;
  }
}

.news__title {
  text-align: center;
  padding: 5rem 0;
}

.list--news {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
  margin: 0 auto;
  text-align: left;
}

.list--news__item {
  flex: auto;
  background-color: white;
  margin: 0 1rem;
}

.list--news__title {
  @include heading-small;
  margin: 1rem 1rem 0 1rem;
}

.date--news {
  font-size: 14px;
  color: $highlight;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 1rem;
}

.list--news__copy {
  font-size: 16px;
  margin: 1rem;
}

.link--read-more {
  font-size: 14px;
  font-weight: bold;
  color: rgb(44, 62, 80);
  margin: 1rem;
}

.button--contact {
  margin: 5rem 0;
}
