.functions {
  color: $primary;
  background: $light;
  padding: 4.25rem 0;
}

.functions__title {
  @include heading-medium;
  text-align: center;
  margin-bottom: 4.25rem;
}

.list--steps {
  display: flex;
  justify-content: space-between;
  counter-reset: li;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.list--steps__item {
  position: relative;
  text-align: center;
  width: 30%;

  &:before {
    @include heading-small;
    color: $highlight;
    display: block;
    margin: 0 0 1rem 0;
    content: counter(li);
    counter-increment: li;
  }
}

.step__title {
  @include heading-small;
  color: $highlight;
  display: block;
  text-align: center;
  padding-top: 10rem;
  margin-bottom: 1rem;
  background-position-x: center;
}
